#test {
    background-color: black;
    height: 100px;
}
#test > div {
    background-color: blue;
    font: 1em sans-serif;
    height: 80px;
}
.test {
    background-color: green;
    height: 50px;
}